{%extends 'base.html'%}

 {% block content %}
    <div class="image col-md-6">
        <img src="{{details.image_path.url}}" class="img-responsive" alt="Image" width="100%" style="padding: 4%;">
    </div>
    <div class="col-md-6">
        <p style="margin-top: 30%;"><strong>Name:</strong> {{details.name}} </p>
        <p><strong>Location:</strong> {{details.image_location}} </p>
        <p><strong>Category:</strong> {{details.image_category}} </p>
        <p><strong>Description:</strong> {{details.description}} </p>
        <p><strong>Uploaded on</strong> {{details.pub_date}} </p>
    </div>
 {% endblock %}