/* h1{
  color: green;
} */

*{
  font-family: 'Montserrat', sans-serif;
}

/* .landing{
  background-image: url(../images/camera.jpeg);
} */
/* .name{
  padding-top: 40%;
  color: green;
  font-size: 100%;
} */